profiles {
local {
process.executor= 'local'
docker.enabled= false
}

docker {
process.executor= 'local'
docker.enabled= true

process {
withName: INDEX {
container= 'faridpbbge/salmon:1.10.0'
}
withName: FASTQC {
container= 'faridpbbge/fastqc:0.12.1'
}
withName:QUANT {
container= 'faridpbbge/salmon:1.10.0'
}
withName:MULTIQC {
container='faridpbbge/multiqc:1.21'
}
withName: TRIMMOMATIC {
container='faridpbbge/trimmomatic:0.40'
}
withName: ALIGN_STAR {
container='faridpbbge/star:2.7.10b'
}
}
}
}

params {
outdir= 'results'
}
